<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LENGUAJES</title>
</head>
<body>
    <main>
        {% extends 'base.html' %}
        {% block content %}
        <section id="services" class="services section">
            <div class="container section-title" data-aos="fade-up">
              <span class="description-title" id="texto_lenguajes_tituloSombreado"></span>
              <h2 id="texto_lenguajes_titulo"></h2>
              <p id="texto_lenguajes_subtitulo"></p>
            </div>
            <div class="container">
              <div class="row gy-4">
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                  <div class="service-item position-relative">
                    <div class="icon"><img src="https://img.icons8.com/?size=512&id=12584&format=png" alt=""></i></div>
                    <h4><a href="" class="stretched-link">Python</a></h4>
                    <p id="python_info">Lenguaje donde creo la logica y el rutado</p>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                  <div class="service-item position-relative">
                    <div class="icon"><img src="https://icons.iconarchive.com/icons/icons8/ios7/512/Data-Database-icon.png" alt=""></div>
                    <h4><a href="" class="stretched-link">MySQL & SQL</a></h4>
                    <p id="db_info">Creacion y gestion de las bases de datos</p>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                  <div class="service-item position-relative">
                    <div class="icon"><img src="https://assets.streamlinehq.com/image/private/w_300,h_300,ar_1/f_auto/v1/icons/logos/flask-qvsfwhwywucb6zv0d7ce.png/flask-1byb2jlw6nwim4nx2248xg.png?_a=DAJFJtWIZAAC" alt=""></i></div>
                    <h4><a href="" class="stretched-link">Flask</a></h4>
                    <p id="flask_info">Framework que se integra en python para facilitar la creacion del Backend</p>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
                  <div class="service-item position-relative">
                    <div class="icon"><img src="https://raw.githubusercontent.com/themedotid/bootstrap-icon/HEAD/docs/bootstrap-icon-css.png" alt=""></i></div>
                    <h4><a href="" class="stretched-link">Bootstrap</a></h4>
                    <p id="bootstrap_info">Framework que facilita la creacion del Frontend</p>
                  </div>
                </div>
              </div>
            </div>
        </section>
        {% endblock %}
    </main>    
</body>
</html>